asgiref==3.8.1
backports.zoneinfo==0.2.1
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
des==1.0.6
Django==4.2.15
fonttools==4.53.1
gunicorn==23.0.0
h11==0.14.0
importlib-resources==6.4.2
kiwisolver==1.4.5
matplotlib==3.7.5
numpy==1.24.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
packaging==24.1
pillow==10.4.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
six==1.16.0
sqlparse==0.5.1
typing-extensions==4.12.2
tzdata==2024.1
uvicorn==0.33.0
whitenoise==6.7.0
zipp==3.20.0
